.header{
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5vh;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.header-title{
    cursor: pointer;
    color: white;
    letter-spacing: 4px;
}
.search-box{
    width: 50vw;
    
    
    
}
.search-btn{
    height: 6vh;
}
.dialog{
    background-color:#2b2b2b;
    padding: 30px;
}
.form-header{
    color: #ffffff;
}
